table, td {
  border: 1px solid black;
}
thead {
  background-color: rgb(30, 142, 156);
  color: #fff;
}
thead > tr > td {
  padding: 10px;
  font-size: 1.25rem;
}
td {
  padding: 5px;
}
.more-button {
  background-color: rgb(15, 153, 84);
  color: #fff;
  padding: 7px;
}
.secondary-data {
  background-color: orange;
}